<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Guess the Word</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- Siirretty Axios ja Ajax sivun lopusta tänne ylös (muuten mounted-metodit ei toimineet) -->
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
          <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="app">
            <!-- Pelin otsikko, kuvaus ja pisteet sekä arvauskerrat -->
            <h1>{{guesstheword}}</h1>
            <div class="gameinfo"><p>The aim is to guess the word by its definition.</p>
            </div>
            
            <div class="points"><p>Points: {{points}}</p><p>Tries left: {{trycount}}</p></div>
            
            <!-- Kolme painiketta vuorottelee riippuen pelin tilanteesta -->
            <button class="drawbutton" @click="pickRandomWord" v-if="trycount==0&&points>0">Draw new word</button>
            <button class="drawbutton" @click="restart" v-if="trycount==0&&points<=0">New game</button>

            <div class="guessdiv" v-if="searchword.length&&trycount!=0">
                <input type="text" @keyup="calculateAmount" v-model="guessinput" v-on:keyup.enter="checkAnswer">{{charCount}}</br>
                <button class="drawbutton" @click="checkAnswer">Check</button><br><br>
            </div>


            <div><p class="error">{{errormessage}}</p></div>
            <!-- Näytetään vinkkien otsikko, vinkit ja kirjaimen ostonappi vain jos peli on käynnissä -->
            <h3 v-if="trycount!=0">Hints:</h3>
            <ul class="hints">
                <li v-if="trycount!=0" v-for="(item) in definitionlist">{{item}}</li>
            </ul>
            <button v-if="trycount!=0" class="drawbutton" v-if="searchword.length" @click="buyHint">Buy hint letter (-10 p)</button>

            <div class="highscore">
                <p>Highscore: {{highscore[0]}} {{highscore[1]}}</p>
                <!-- Mikäli pelaajan pisteet ylittää parhaat pisteet, näytetään nappi & kenttä joilla voi tallentaa oman tuloksen -->
                <div v-if="points>highscore[1]">
                    <p>New highscore! You can save your points, but it restarts the game.</p>
                    <input class="hsinput" type="text" v-model="name">
                    <button class="drawbutton" @click="saveHighscore">Save & restart</button>
                </div>
            </div>
        </div>
        
    <script>

        
      var app = new Vue({
        el: "#app",
        data: {
          guesstheword: "Guess the Word",
          wordlist: [],
          searchword: "",
          charCount: "",
          guessinput: "",
          definitionlist: [],
          highscore: [],
          name: "Your name",
          points: 50,
          trycount: 0,
          hintindex: 0,
          buttondisabled: false,
          errormessage: "",
          axios_url_start: "https://dictionaryapi.com/api/v3/references/learners/json/",
          axios_url_end: "?key=5375d6d8-6ba2-4831-b6e0-e1660a4c076d"
        },
        computed: {
          calculateAmount: function() {
              if (this.guessinput.length < this.searchword.length || this.guessinput.length > this.searchword.length) {
                    return this.charCount = this.guessinput.length + " characters.";
                }
                else if(this.guessinput.length == this.searchword.length) {
                    return this.charCount = this.guessinput.length + " characters - count matching!";
                }
            }
        },
        methods: {
          getDefinition: function() {
            axios
              .get(this.axios_url_start + this.searchword + this.axios_url_end)
              .then(function(response) {
                app.answer = response.data.answer;
                //console.log(response.data);
                try {
                    for (let i = 0; i <= response.data[0].shortdef.length; i++) {
                        this.definitionlist.push(response.data[0].shortdef[i]);
                    }
                    this.definitionlist.pop(); // poistetaan viimeinen alkio, koska se tulee apista tyhjänä
                    console.log(this.definitionlist);
                    this.errormessage = ""; // tyhjätään virheviestit
                    this.guessinput = ""; // tyhjätään arvauskenttä
                    this.trycount = "3"; // palautetaan arvauskertojen määrä kolmeen
                } catch (error) {
                    this.errormessage = "Oops! Did you broke me? Please try to draw again.";
                    console.log(error);
                }
              }.bind(this))
              .catch(function(error) {
                app.answer = "Error! " + error;
                console.log(app.answer);
                this.errormessage = "Some error occurred! Please click the button again.";
              });
          },

          loadWordlist: function() {
            // luetaan sanat tiedostosta listalle
            $.ajax({
              url: "sanat.txt",
              success: function(data) {
                //pilkotaan tiedoston rivit taulukkoon
                let lines = data.split("\n");
                for (let i = 0; i < lines.length; i++) {
                  this.wordlist.push(lines[i]);
                }
                console.log(lines.length + " sanaa lisätty listaan");
              }.bind(this), // bindin avulla pääsi eroon "wordlist not defined" -herjasta. Nyt wordlist sisältää tiedoston sanat!!
              error: function (request, status, error) {
                this.errormessage="Error! Cannot load wordlist (" + request.statusText + ")";
                }.bind(this)
            });
          }, 

          loadHighscore: function() {
            // luetaan highscore tiedostosta listalle
            $.ajax({
              url: "highscore.txt",
              success: function(data) {
                //pilkotaan tiedoston rivit taulukkoon
                let lines = data.split("\n");
                for (let i = 0; i < lines.length; i++) {
                  this.highscore.push(lines[i]);
                }
                console.log("Highscore ladattu (" + this.highscore[0] + " " + + this.highscore[1] + ")");
              }.bind(this),
              error: function (request, status, error) {
                this.highscore.push("Error! " + request.statusText);
                }.bind(this)
            });
          }, // end loadHighscore

          pickRandomWord: function() {
            //   if (this.buttondisabled) return; // 
                    // nollataan vinkkilaskuri
                    this.hintindex = 0;
                    // arpoo satunnaisen sanan listasta
                    this.searchword = this.wordlist[Math.floor(Math.random() * this.wordlist.length)];
                    console.log("Arvattava sana on: " + this.searchword);
                    this.getDefinition();
                    // tyhjennetään definitionlist-taulukko
                    this.definitionlist = [];
                    // sijoitetaan ekaksi vihjeeksi kirjainten lukumäärä
                    this.definitionlist.push("the word has " + this.searchword.length + " letters");
                // setTimeout(() => {
                //     this.buttondisabled = false;
                // }, 3000);
          }, // end pickRandomWord
          
          buyHint: function() {
                if (this.points >= 10) {
                    this.points -= 10;
                    if (this.hintindex == 0) {
                    this.definitionlist.push("the first letter is " + this.searchword.charAt(this.hintindex));
                    }
                    else if(this.hintindex > 0 && this.hintindex < this.searchword.length-1) {
                    this.definitionlist.push("the next letter is " + this.searchword.charAt(this.hintindex));
                    }
                    else if(this.hintindex == this.searchword.length-1) {
                    this.definitionlist.push("the last letter is " + this.searchword.charAt(this.hintindex));
                    }
                    this.hintindex++;
                }
                else
                    this.errormessage = "Not enough points to buy letter!";
          }, // end buyHint
          
          checkAnswer: function() {
              if(this.guessinput == this.searchword) {
                  this.errormessage = "Hooray you guessed it right! You got +40 points!";
                  this.points = this.points + 40;
                  this.guesstheword = "+ 40 points!";
                  setTimeout(() => {
                      this.guesstheword = "Guess the Word";
                      this.guessinput = "";
                      this.pickRandomWord();
                }, 3000);
              }
              else {

                    if(this.trycount > 1)
                    {
                      if(this.trycount >0 && this.guessinput.length == this.searchword.length) {
                          this.trycount -= 1;
                          this.errormessage = "Wrong. " + this.trycount + " tries left.";
                        }
                        else {
                            this.errormessage = "No more tries left! Draw new word.";
                        }
                    }
                    else {
                        this.trycount -= 1;
                        this.errormessage = "The word was " + this.searchword + ". You lost 20 points!";
                        this.points -= 20;
                        if (this.points <= 0) {
                            this.guesstheword = "GAME OVER";
                            }
                        }
                } // main else end

          }, // end checkAnswer
          
          restart: function() {
              this.points = "50";
              this.trycount = "0";
              this.guesstheword = "Guess the Word";
              this.errormessage = "";
          },

          saveHighscore: function() {
            this.highscore[0] = this.name;
            console.log(this.highscore[0]);
            this.highscore[1] = this.points;
            console.log(this.highscore[1]);
            this.restart();
            // tallennetaan tiedostoon
            $.ajax({
              url: "highscore.txt",
              success: function(data) {
                
                console.log("Highscore tallennettu (" + this.highscore[0] + " " + + this.highscore[1] + ")";
              }.bind(this),
              error: function (request, status, error) {
                this.highscore.push("Error! " + request.statusText);
                }.bind(this)
            });
          }, // end loadHighscore
            
          } // end saveHighscore


        }, // end methods
        mounted () {
            this.loadWordlist(); // on page load (mounting dom)
            this.loadHighscore();
        }
      }); // end vue

      //axioksen source
    </script>
  </body>
</html>
