body {
    background-color: lightgray;
    margin:0;
}
h1 {
    background-color: white;
    text-align: center;
    color: #aa6dbc;
    border-top: 10px solid #925da2;
    padding-top: 5px;
    border-bottom: 10px solid #925da2;
    padding-bottom: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 2.5em;
}
#app {
    background-color: white;
    width: 600px;
    margin:auto;
    padding-bottom: 15px;
    -webkit-box-shadow: -2px 2px 8px -1px rgba(0,0,0,0.23);
    -moz-box-shadow: -2px 2px 8px -1px rgba(0,0,0,0.23);
    box-shadow: -2px 2px 8px -1px rgba(0,0,0,0.23);
    border-radius: 10px;

}
p, h3, button, li {
    margin-left: 20px;
    margin-right: 20px;
    font-family: monospace;
}
.gameinfo {
    float: left;
    /*border: 2px solid black;*/
}
.points {
    font-weight: bold;
    float: right;
    text-align: right;
    font-size: 1.2em;
    line-height: 0.5em;
}
.drawbutton {
    /*border: 2px solid black;*/
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    color: white;
    text-shadow: 2px 2px 5px #30150D;
    border-color: 2px solid #30150D;
    background-color: #aa6dbc;
    letter-spacing: 0.2em;
    -webkit-box-shadow: -2px 2px 8px -1px rgba(0,0,0,0.23);
    -moz-box-shadow: -2px 2px 8px -1px rgba(0,0,0,0.23);
    box-shadow: -2px 2px 8px -1px rgba(0,0,0,0.23);
    border-radius: 10px;
}
.drawbutton:hover {
    background-color: #855594;
    cursor: pointer;
}
.hints li {
    padding-bottom: 10px;
}
.error {
    color: red;
}
input{
    width:150px;
    padding: 10px;
    font-size: 1.2em;
    font-family: monospace;
    margin-left: 20px;
    margin-right: 10px;
}
.guessdiv {
    font-family: monospace;
}