body {
    background-color: lightgray;
    /* margin:0; */
}
h1 {
    background-color: white;
    text-align: center;
    color: #aa6dbc;
    border-top: 10px solid #925da2;
    padding-top: 5px;
    border-bottom: 10px solid #925da2;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 2.5em;
}
#app {
    background-color: white;
    max-width: 600px;
    margin:auto;
    padding-bottom: 10px;
    -webkit-box-shadow: -2px 2px 8px -1px rgba(0,0,0,0.23);
    -moz-box-shadow: -2px 2px 8px -1px rgba(0,0,0,0.23);
    box-shadow: -2px 2px 8px -1px rgba(0,0,0,0.23);
    border-radius: 10px;

}
p, h3, button, li {
    margin-left: 20px;
    margin-right: 20px;
    font-family: monospace;
}
.gameinfo, .points {
    /* min-height: 80px; */
    /* border: 2px solid black; */
    margin-bottom: 15px;
}
.gameinfo {
    float: left;
    width: 400px;
    max-width: 100%;
}
.points {
    font-weight: bold;
    float: right;
    text-align: right;
    font-size: 1.2em;
    line-height: 0.5em;
}
.highscore {
    font-size: 0.9em;
    text-align: left;
    color: purple;
    margin-top: 40px;
}
.newhighscore {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    color:green;
}
.gamebutton {
    /*border: 2px solid black;*/
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px #30150D;
    background-color: #aa6dbc;
    letter-spacing: 0.2em;
    -webkit-box-shadow: -2px 2px 8px -1px rgba(0,0,0,0.23);
    -moz-box-shadow: -2px 2px 8px -1px rgba(0,0,0,0.23);
    box-shadow: -2px 2px 8px -1px rgba(0,0,0,0.23);
    border-radius: 10px;
}
.hintbutton {
    width: 247px;
    margin-right: 0;
}

.gamebutton:hover {
    background-color: #855594;
    cursor: pointer;
}
.hints li {
    padding-bottom: 10px;
}
.error {
    color: red;
}
input{
    width:130px;
    padding: 10px;
    font-size: 1.2em;
    font-family: monospace;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.hsinput {
    width:100px;
    padding: 10px;
    font-size: 1em;
    font-family: monospace;
    margin:0;
}
.guessdiv {
    font-family: monospace;
    margin-top: 100px;

}